@model IEnumerable<MvcGCUImagesStarter.Models.Image>

@{
    ViewBag.Title = "_homeview";
}


<div id="home_container">

    <div id="first_line">
        @{ string mainImageURL = "../../Images/" + Html.Encode(Model.ElementAt(0).ImageURL);}
        <div id="main_image"> 
            <a href="@Url.Action("Details", "Image", new { id = Model.ElementAt(0).ImageId })">
                <img src="@Html.Encode(mainImageURL)" alt="@Html.Encode(Model.ElementAt(0).ImageTitle)" height="480" />
            </a> 
        </div>
            

        <div id="5_images_vertical_container">

            <div id="image_1">
                <a href="@Url.Action("Details", "Image", new { id = Model.ElementAt(1).ImageId })">
                    <img src="@Html.Encode("../../Images/" + Html.Encode(Model.ElementAt(1).ImageURL))" alt="@Html.Encode(Model.ElementAt(1).ImageTitle)" width="128px" height="96px" />
                </a>
            </div>
            <div id="image_2">
                <a href="@Url.Action("Details", "Image", new { id = Model.ElementAt(2).ImageId })">
                    <img src="@Html.Encode("../../Images/" + Html.Encode(Model.ElementAt(2).ImageURL))" alt="@Html.Encode(Model.ElementAt(2).ImageTitle)" width="128px" height="96px" />
                </a>
            </div>
            <div id="image_3">
                <a href="@Url.Action("Details", "Image", new { id = Model.ElementAt(3).ImageId })">
                    <img src="@Html.Encode("../../Images/" + Html.Encode(Model.ElementAt(3).ImageURL))" alt="@Html.Encode(Model.ElementAt(3).ImageTitle)" width="128px" height="96px" />
                </a>
            </div>
            <div id="image_4">
                <a href="@Url.Action("Details", "Image", new { id = Model.ElementAt(4).ImageId })">
                    <img src="@Html.Encode("../../Images/" + Html.Encode(Model.ElementAt(4).ImageURL))" alt="@Html.Encode(Model.ElementAt(4).ImageTitle)" width="128px" height="96px" />
                </a>
            </div>
            <div id="image_5">
                <a href="@Url.Action("Details", "Image", new { id = Model.ElementAt(5).ImageId })">
                    <img src="@Html.Encode("../../Images/" + Html.Encode(Model.ElementAt(5).ImageURL))" alt="@Html.Encode(Model.ElementAt(5).ImageTitle)" width="128px" height="96px" />
                </a>
            </div>
        </div>

    </div>


    <div id="second_line">
        <div id="6_images_horizontal_container">
            <div id="image_1">
                <a href="@Url.Action("Details", "Image", new { id = Model.ElementAt(6).ImageId })">
                    <img src="@Html.Encode("../../Images/" + Html.Encode(Model.ElementAt(6).ImageURL))" alt="@Html.Encode(Model.ElementAt(6).ImageTitle)" width="128px" height="96px" />
                </a>
            </div>
            <div id="image_2">
                <a href="@Url.Action("Details", "Image", new { id = Model.ElementAt(7).ImageId })">
                    <img src="@Html.Encode("../../Images/" + Html.Encode(Model.ElementAt(7).ImageURL))" alt="@Html.Encode(Model.ElementAt(7).ImageTitle)" width="128px" height="96px" />
                </a>
            </div>
            <div id="image_3">
                <a href="@Url.Action("Details", "Image", new { id = Model.ElementAt(8).ImageId })">
                    <img src="@Html.Encode("../../Images/" + Html.Encode(Model.ElementAt(8).ImageURL))" alt="@Html.Encode(Model.ElementAt(8).ImageTitle)" width="128px" height="96px" />
                </a>
            </div>
            <div id="image_4">
                <a href="@Url.Action("Details", "Image", new { id = Model.ElementAt(9).ImageId })">
                    <img src="@Html.Encode("../../Images/" + Html.Encode(Model.ElementAt(9).ImageURL))" alt="@Html.Encode(Model.ElementAt(9).ImageTitle)" width="128px" height="96px" />
                </a>
            </div>
            <div id="image_5">
                <a href="@Url.Action("Details", "Image", new { id = Model.ElementAt(10).ImageId })">
                    <img src="@Html.Encode("../../Images/" + Html.Encode(Model.ElementAt(10).ImageURL))" alt="@Html.Encode(Model.ElementAt(10).ImageTitle)" width="128px" height="96px" />
                </a>
            </div>
            <div id="image_6">
                <a href="@Url.Action("Details", "Image", new { id = Model.ElementAt(11).ImageId })">
                    <img src="@Html.Encode("../../Images/" + Html.Encode(Model.ElementAt(11).ImageURL))" alt="@Html.Encode(Model.ElementAt(11).ImageTitle)" width="128px" height="96px" />
                </a>
            </div>
        </div>
    </div>

</div>

