<div id="main-nav">
	<!--@Html.Partial("_searchbox") -->
    <ul id="menu">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Images", "Index", "Image")</li>
        <li>@Html.ActionLink("Contributors", "Contributors", "Image")</li>
        <li>@Html.ActionLink("Admin", "Admin", "Image")</li>     
        <li>@Html.ActionLink("Login", "Login", "Account")</li>            
	</ul>
</div>